.pointsContainer {
  display: flex;
  justify-content: space-between;
}

.begin, .win {
  position: absolute;
  left: 50%;
  top: 57.5%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75);

  padding: 10px 50px 10px 50px;
}

.win {
  top: 48%;
}
