.container {
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 0 auto 0 auto;
}

.container button {
  width: fit-content;
  font-family: 'Oswald';
  background-color: black;
  color: wheat;
}

.container button:hover {
  background-color: rgb(83, 83, 83);
  color: wheat;
}