.logo {
  margin-left: 50%;
  margin-right: 50%;
  height: 700px;
  margin-bottom: 100px;
}

.container {
  display: block;
  overflow-y: hidden;
}

.subMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 15;
}

.buttons {
  position:absolute;
  display: flex;
  left: 50%;
  right: 50%;
  top: 650px;
  margin-left: -115px;
  width: 200px;
  color: black;
  flex-direction: column;
  text-align: center;
  z-index: 16;
}

@media only screen and (max-width: 1024px) {
  .logo {
    margin-bottom: 0;
  }

  .buttons {
    top: 500px;
  }
}

@media only screen and (max-width: 800px) {
  .logo {
    display: flex;
    align-items: flex-start;
    height: 500px;
    margin-top: 20px;
  }

  .buttons {
    top: 325px;
  }
}

.mainButton, .secondButton {
  font-family: 'Oswald';
  color: rgb(255, 255, 255);
  flex-direction: column;
  font-size: 20px;
  padding: 10px;

  background-color: black;
  text-decoration-line: none;
  cursor: pointer;

  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to left, wheat, #000000, wheat);
  box-shadow: 0 0 20px black;

  transition: all 0.25s ease;
}

.mainButton {
  margin-bottom: 10px;
  width: 200px;
  font-size: 20px;
}

.secondButton {
  margin: 0 10px 5px 10px;
  width: 180px;
  font-size: 16px;
}

.mainButton:hover, .secondButton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px red;
}

.social {
  z-index: 20;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 10px;
  right: 0%;
}

.social a {
  margin: 10px;
  opacity: 0.5;
}

.social a:hover {
  opacity: 1;
}