.logo {
  margin-left: 50%;
  margin-right: 50%;
  height: 700px;
  margin-bottom: 100px;
}

.container {
  display: block;
}

.bandsContainer {
  display: flex;
  flex-direction: column;
  z-index: 15;
}

@media only screen and (max-width: 1024px) {
  .logo {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 800px) {
  .logo {
    height: 260px;
  }
}