.sub {
  display: flex;
  border: 5px;
  border-style: solid;
  border-color: white;
  margin: 20px 20px 0 20px;

  opacity: 0;
  transform: scale(85%);
  transition: 2s;
}

.sub--zoom {
  opacity: 1;
  transform: scale(100%);
  transition: 2s;
}

.sub-text {
  color: white;
  margin-left: 3%;
  vertical-align: middle;
}

.text {
  margin-left: 3%;
}

@media only screen and (max-width: 1024px) {
  .sub-text {
    text-align: center;
    margin-right: 20px;
  }

  .sub {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .sub-text {
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
  }
}