.icon img{
  height: 300px;
  margin: 10px;
}

.label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.listContainer {
  display: flex;
  flex-direction: column;
  text-align: initial;
  margin-left: 10%;
}