.container {
  display: flex;
  width: 50%;
  color: white;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 0 auto 0 auto;
}

.portrait_wrapper {
  z-index: 8;
  background: fixed;
  background-color: #000000;
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  opacity: 50%;
  
  overflow-y: hidden;
}

.portrait_open {
  position: absolute;
  z-index: 10;
  right: 50%;
  top: 30%;
  transform: translate(50%, -50%);
  background: fixed;
  background-color: #000000;
  opacity: 100%;
}

.block {
  margin-left: 10px;
}

.block2 {
  margin-left: 10px;
}

.global {
  display: block;
  width: fit-content;
  padding: 20px 20px 20px 20px;
  border-left: 2px solid;
  border-right: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to top, #000000, wheat, #000000);
}

.text {
  margin-bottom: 20px;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-between;
}