.container {
  width: fit-content;
  margin: 10px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to top, wheat, #000000);
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px 5px 20px;
  align-items: center;
}

.labelStatusContainer {
  display: flex;
  justify-content: center;
  margin: 5px 20px 5px 20px;
  align-items: center;
}

.label {
  font-size: 30px;
  color: wheat;
}

.button {
  display: none; // TODO: ОТМЕНЯЕМ РЕДАКТИРОВАНИЕ пользаков натекущий момент
  cursor: pointer;
  color: #9694e3;
  font-size: 15px;
}

.buttonAdmin {
  cursor: pointer;
  color: #9694e3;
  font-size: 15px;
}

.button:hover {
  animation-name: imgAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.statusContainer {
  display: flex;
  justify-content: space-between;
  width: 210px;
  padding: 10px;
}

.inputContainer {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.achivment {
  z-index: 20;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 10px;
  right: 0%;
}

.achivmentItem {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 5px;
}

.achivmentText {
  display: flex;
  justify-content: right;
  font-weight: bold;
  margin-bottom: 5px;
}

@keyframes imgAnimation {
  from {color: #9694e3;}
  to {color: white;}
}

@media only screen and (max-width: 600px) {
  .inputContainer {
    width: auto;
    display: block;
  }
}