.container {
  display: flex;
  width: 50%;
  color: white;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 0 auto 0 auto;
}

.global {
  display: block;
  width: fit-content;
  padding: 20px 20px 20px 20px;
  border-left: 2px solid;
  border-right: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to top, #000000, wheat, #000000);
}

.text {
  margin-bottom: 20px;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1600px) {
  .container {
    width: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 95%;
    padding: 0 0 0 0;
  }
}

.portrait {
  height: 200px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  z-index: 10;
}

.portrait img:hover {
  transform: scale(1.5);
  box-shadow: 0 10px 10px #FF0000;
  z-index: 15;
}