.container {
  display: flex;
  width: 50%;
  color: white;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 0 auto 0 auto;
}

.fasion_container {
  display: flex;
  justify-content: center;
}

.fasion_container h3 {
  padding: 10px;
}

.block {
  margin-left: 10px;
}

.block2 {
  margin-left: 10px;
}

@media only screen and (max-width: 1600px) {
  .container {
    width: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 95%;
    padding: 0 0 0 0;
  }
}