.container {
  width: 150px;
  height: 175px;
  background-color: black;
  cursor: pointer;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to top, wheat, #000000, wheat);
  font-family: 'Oswald';
  padding: 5px;
}

.label {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}

.subContainer {
  padding-bottom: 5px;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to left, #000000, wheat, #000000);
}
