.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unknownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.loginContainer img:hover {
  animation-name: imgAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes imgAnimation {
  from {transform: scale(1);};
  to {transform: scale(1.1);}
}