.container {
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 0 auto 0 auto;
}

.listContainer {
  display: flex;
  flex-direction: column;
  text-align: initial;
  margin-left: 10%;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}