.container {
  position: absolute;
  filter: drop-shadow(0 0 2px black) drop-shadow(0 0 25px black) ;
  z-index: 3;
  margin-left: -42px;
  margin-top: -233px;
}

.text {
  position: absolute;
  z-index: 9;
  margin-top: 500px;
  margin-left: -120px;
  transform: scale(0.75);
}

@media only screen and (max-width: 1024px) {
  .container {
    margin-top: -273px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    margin-top: -250px;
  }
}
