.calcContainer {
  display: block;
  justify-content: center;
}

.charItemContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.select {
  color: black;
}

.char, .charManual, .fullCharManual {
  width: 300px;
  padding: 10px;

  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to left, wheat, #000000);
}

.charManual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 14px;
  position: absolute;
  background-color: black;
  border: 2px solid red;
  background-color: rgba(0,0,0, 0.75);
  z-index: 5;
}

.fullCharManual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 355px;
  position: absolute;
  background-color: black;
  border: 2px solid red;
  background-color: rgba(0,0,0, 0.75);
  z-index: 5;
}

.itemContainer, .itemContainerManual, .weaponManual {
  margin-bottom: 10px;
  padding: 10px;

  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to bottom, wheat, #000000);
}

.weaponManual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 353px;
  height: 130px;
  position: absolute;
  background-color: black;
  border: 2px solid red;
  background-color: rgba(0,0,0, 0.75);
  z-index: 5;
}

.itemContainerManual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 353px;
  height: 14px;
  position: absolute;
  background-color: black;
  border: 2px solid red;
  background-color: rgba(0,0,0, 0.75);
  z-index: 5;
}

.charItem, .charItemManual {
  width: 250px;
}

.charItemManual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 85px;
  position: absolute;
  background-color: rgba(0,0,0, 0.75);
  border: 2px solid red;
  z-index: 5;
}

.weapon {
  width: 400px;
  padding: 10px;
  margin-left: 10px;

  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to right, wheat, #000000);
}

.attackRegular, .attackDistant,
.attackSpecial, .attackHeavy {
  float: left;
  position: relative;
  z-index: 2;
  left: 34%;
  top: 100px;
  opacity: 0;

  transition: all 0.1s ease-in;
}

.attackDistant {
  rotate: 20deg;
}

.charItem:active .attackRegular {
  opacity: 0.8;
  transform: scale(1.25) rotate(-20deg) translate(-10px, 30px);
}

.charItem:active .attackDistant {
  opacity: 0.8;
  transform: scale(1.25) translate(-10px, 30px);
}

.charItem:active .attackSpecial {
  opacity: 0.8;
  transform: scale(1.25) rotate(-45deg) translate(0, 50px);
}

.charItem:active .attackHeavy {
  opacity: 0.8;
  transform: scale(2);
}

.health {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.items {
  display: flex;
  justify-content: center;
}

.usableItem, .usableItemActive {
  max-width: 80px;
  margin-right: 5px;

  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to bottom, wheat, #000000);

  transition: all 0.1s ease-in-out;
}

.usableItem:hover {
  transform: scale(1.1);
}

.usableItemActive {
  background-image: linear-gradient(to top, transparent, wheat);
  transform: scale(1.1);
}

.waitButton {
  background-color: #000000;
  margin-top: 20px;
  padding: 5px 10px 5px 10px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to left, wheat, #000000, wheat);
}

.waitButton:hover {
  background-color: green;
  transform: scale(1.1);
}

.heal, .repair {
  float: left;
  position: relative;
  z-index: 2;
  left: 25%;
  top: 100px;

  animation-duration: 1s;
  animation-name: healing;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.repair {
  left: 25%;
}

.heal {
  left: 30%;
}

@keyframes healing {
  from {
    scale: 1;
    opacity: 0.5;
  }

  to {
    scale: 1.25;
    opacity: 1;
  }
}

.description {
  margin-bottom: 10px;
  padding: 10px;

  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to bottom, wheat, #000000);
}

.inventory, .inventoryManual, .inventoryManualItem01, .inventoryManualItem02 {
  margin-bottom: 10px;
  padding: 10px;

  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to bottom, wheat, #000000);
}

.inventoryManual {
  border: none;
  padding: none;
  display: flex;
  align-items: flex-start;
  width: 353px;
  height: 105px;
  position: absolute;
  z-index: 5;
}

.inventoryManualItem01 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  width: 142px;
  height: 105px;
  position: absolute;
  background-color: rgba(0,0,0, 0.75);
  border: 2px solid red;
  z-index: 6;
}

.inventoryManualItem02 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  margin-left: 167px;
  width: 67px;
  height: 105px;
  position: absolute;
  background-color: rgba(0,0,0, 0.75);
  border: 2px solid red;
  z-index: 6;
}

.inventoryManualItem03 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  margin-left: 259px;
  width: 82px;
  height: 125px;
  position: absolute;
  background-color: rgba(0,0,0, 0.75);
  border: 2px solid red;
  z-index: 6;
}

.obsessedContainer {
  display: flex;
  justify-content: center;
}

.obsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.obsItemOuter {
  transition: all 0.1s ease-in-out;
}

.obsItemOuter:hover {
  transform: scale(1.1);
}

.obsContainer, .obsessedContainerManual {
  display: flex;
  margin-top: 10px;
  padding: 10px;

  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to bottom, wheat, #000000);
}

.obsessedContainerManual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 353px;
  height: 195px;
  position: absolute;
  background-color: rgba(0,0,0, 0.75);
  border: 2px solid red;
  z-index: 5;
}

.obsStrike {
  float: left;
  position: relative;
  z-index: 2;
  opacity: 0;

  transition: all 0.1s ease-in;
}

.obsItem:active .obsStrike {
  opacity: 0.8;
  transform: scale(2);
}
