.info {
  display: flex;
}

.coat {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  border-right: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to top, #000000, wheat, #000000);
  height: 500px;
}

.text {
  text-align: left;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .info {
    display: flex;
    flex-direction: column;
  }
}