.container {
  width: 300px;
  margin: 0 auto 0 auto;
}

.item {
  display: flex;
  align-items: center;
}

.itemContainer {
  display: inline-block;
  justify-content: center;
  margin: 5px 0 5px 0;
  width: 150px;
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-image-slice: 1;
  border-image-source: repeating-linear-gradient(to right, #000000, wheat, #000000);
}

.itemText {
  text-align: start;
  margin: 0 5px 5px 10px;
}

.cargoItem {
  display: flex;
  justify-content: space-between;
}

.select {
  color: black;
}