.container {
  display: flex;
  color: white;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 0 auto 0 auto;
  width: 75%;
}

.listContainer {
  display: flex;
  flex-direction: column;
  text-align: initial;
  margin-left: 20%;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.itemLabel {
  font-size: 20px;
  font-weight: 500;
  color: wheat;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;

  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to top, wheat, #000000);
  box-shadow:0px 0px 0px 1px #000 inset;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.descContainer {
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 20px;
  margin: 10px;
  padding-bottom: 30px;
}

.request {
  margin: 5px;
  padding: 10px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to right, wheat, #000000);
  box-shadow:0px 0px 0px 1px #000 inset;
}

.timeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
};

.upTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prices {
  margin: 5px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to right, wheat, #000000);
  box-shadow:0px 0px 0px 1px #000 inset;
}

.priceActive {
  color: wheat;
  padding: 5px 0 5px 10px;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to right, wheat, #000000);
  box-shadow:0px 0px 0px 1px #000 inset;
}

.price {
  padding: 5px 0 5px 10px;
}

@media only screen and (max-width: 850px) {
  .item {
    flex-direction: column;
    align-items: center;
  }

  .descContainer {
    padding-bottom: none;
  }
}