.container_first img{
  height: 200px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  z-index: 10;
}

.container_first img:hover {
  transform: scale(1.5);
  box-shadow: 0 10px 10px #FF0000;
  z-index: 15;
}

.listContainer {
  display: flex;
  flex-direction: column;
  text-align: initial;
  margin-left: 10%;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}