.container {
  display: flex;
  width: 50%;
  color: white;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 0 auto 0 auto;
}

.arrows {
  display: flex;
}

.sub_container {
  padding: 0 20px 20px 20px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source:  linear-gradient(to left, #000000, wheat, #000000);
}

@media only screen and (max-width: 1600px) {
  .container {
    width: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 95%;
    padding: 0 0 0 0;
  }
}