.container {
  width: fit-content;
  color: white;
  padding: 20px 20px 20px 20px;
  justify-content: center;
  margin: 0 auto 0 auto;
}

.hexagon {

}

.hexItem {
  opacity: 0.75;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hexItem:hover {
  opacity: 1;
  scale: 1.05;
  filter: drop-shadow(0 0 2px black);
}

.hexText {
  font-family: 'Oswald';
  font-size: 3px;
}
