.containerlg {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.containerlg img {
  height: 300px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  z-index: 10;
}


.containerlg img:hover {
  transform: scale(1.2);
  box-shadow: 0 10px 10px #FF0000;
  z-index: 15;
}

.container {
  margin: 0 auto 0 auto;
}

.container img{
  height: 320px;
  border-radius: 10px;
  z-index: 10;
}

.button {
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .container img{
    width: 360px;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .container img{
    width: 200px;
    height: auto;
  }
}