.containerlg {
  display: flex;
  padding: 10px;
}

.containerlg img {
  height: 300px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  z-index: 10;
}


.containerlg img:hover {
  transform: scale(1.2);
  box-shadow: 0 10px 10px #FF0000;
  z-index: 15;
}

.container {
  width: 350px;
  margin: 0 auto 0 auto;
}

.container img{
  height: 400px;
  border-radius: 10px;
  z-index: 10;
}

.button {
  border-radius: 10px;
}
