table.iksweb{
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}

table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #595959;
}

table.iksweb td {
}

table.iksweb td,table.iksweb th {
	padding: 3px;
	width: auto;
	height: auto;
}

table.iksweb th {
	background: #347c99; 
	color: #fff; 
	font-weight: normal;
}