.darkBG {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100%;
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.modal {
  position: fixed;
  /* тут высоту модалки фиксить */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 22;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;

  min-width: 340px;
  background: black;
  color: wheat;
  border-radius: 5px;
  box-shadow: 0 0 50px -10px wheat;
}

.modalHeader {
  min-width: 340px;
  background: black;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  overflow-y: auto;
  overflow-x: hidden;
  /* Тут высоту контента отслеживать */
  height: 85%;
  padding: 0 10px 10px 10px;
  font-size: 14px;
  text-align: center;
}

.modalContent::-webkit-scrollbar {
  width: 3px;
}

.modalContent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(117, 117, 117);  
}

.actionsContainer {
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: wheat;
  background: black;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
}