.battle__clear {
  z-index: 7;
  position: absolute;
  margin-left: -580px;
}

.battle__effect {
  z-index: 5;
  position: absolute;
  margin-left: -250px;
  margin-top: -30px;
  transform: scaleX(-1);
  }

  