.container {
  display: flex;
  width: 50%;
  color: white;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 0 auto 0 auto;
}

.arrows {
  display: flex;
}

.sub_container {
  padding: 0 20px 20px 20px;
}

.zones {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.zonesText {
  text-align: start;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

@media only screen and (max-width: 1600px) {
  .container {
    width: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 95%;
    padding: 0 0 0 0;
  }

  .zones {
    flex-direction: column;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  text-align: initial;
  margin-left: 10%;
}